/*.App {*/
/*  text-align: center;*/
/*}*/
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

/*.content {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    margin-top: 10px;*/
/*}*/

.mainContent {
    width: calc(70% - 10px);
    background: lightgoldenrodyellow;
}

/*#displayLogin {*/
/*    width: calc(100% - 40px);*/
/*    background: lightgoldenrodyellow;*/
/*    margin: 20px;*/
/*}*/

.content {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 160px);
}

.sidebarRight {
    background: azure;
    width: calc(30% - 10px);
}

.header {
    background: wheat;
    height: 70px;
}

.roundBorder {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 12px;
    margin: 8px;
}

h2 {
    font-size: 20px;
}

nav {
    background: #ee9972;
}

.nav-item {
    color: #edefee;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/

/*.App-link {*/
/*    color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
